
/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*css*/

html{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color:white; 

}
#presentation{
    position:absolute;
    top: 30%;
    left:30%;
    text-align: center;
}

.happy-apple{
    animation-name: happy;
    animation-duration: 4s;
}

@keyframes happy{
    0%{margin-bottom: 30%}
    100% {margin-bottom: 0%}
    
}

#presentation h1{
 font-size: 5rem;
 font-weight: bold;
 margin: 3% 0;
}
#presentation h2{
    font-size:2rem;
    margin-bottom: 5%;
}
#presentation button{
    padding: 2% 3%;
    border-radius: 30px; 
    font-size: 1.3rem;
    cursor: pointer;
    border:none;
}

button:active, button:visited {
    color: white;
    background-color: black;
}
button:hover{
    background-color:black;
    color:white;
    box-shadow: 0 0 50px 2px white;
    
}

#canvas {
    position: absolute;
    top:12%;
    left:45%;
    border:1px solid black;
    
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: black; 
}

#header{
    font-size: 30px;
    display:flex;
    justify-content: flex-end;
    background-color: white;
    color:black; 
    margin:0.9% 10% 0 6%;
    box-shadow: 0 0 5px 1px white;
}

#apple-menu{
    margin: -10px 450px 0px 0;
}
#header div{
    margin: 2% 10% 1% 0;
}

.backgrounds{
    margin: 10% 0 0 10%;
}

.changeTheme{
    display: block;
    border-radius: 2px; 
    font-size: 1.3rem;
    cursor: pointer;
    margin-bottom: 10.5%;
    box-shadow: 0 0 30px 2px white;
    padding: 1% 11% 1% 10%;
    border:none;
    box-sizing: border-box;
}

#city, #rural{
padding: 1% 13% 1.5% 13%;    
}
#city{
    padding: 1% 14% 1.5% 13%
}
button:active, button:visited {
    color: white;
    background-color: black;
}
button:hover{
    background-color:black;
    color:white;
    box-shadow: 0 0 50px 2px white;
}
#level-js, #points-js{
    font-weight: bold;
}
#new-game{
    display:none;
}

#game-over{
    width: 300px;
    height: 80px;
    border:1px solid white;
    position:absolute;
    top:40%;
    left:55%;
    display:none;
    background: black;
    opacity: 1;
    animation-name: finalGame;
    animation-duration: 20s;
}
#game-over p{
    padding: 10%;
    text-align: center;
}

@keyframes finalGame{
    0%{opacity: 0.2}
    10% {opacity: 1}
    
}
#audio{
    visibility: hidden;
}